.morning {
    background-color: #f4c2c2 !important;
}

.day {
    background-color: #87ceeb !important;
}

.evening {
    /*background-color: #ff8c42 !important;*/
    background: #F08A5D !important;
    background: linear-gradient(0deg, rgba(240, 138, 93, 1) 0%, rgba(184, 59, 94, 1) 50%, rgba(106, 44, 112, 1) 100%) !important;
}

.night {
    background: #3282B8 !important;
    background: linear-gradient(0deg, rgba(50, 130, 184, 1) 0%, rgba(15, 76, 117, 1) 50%, rgba(27, 38, 44, 1) 100%) !important;
}

.container {
    max-width: 540px !important;
}

.latest-observations span.badge.text-bg-secondary {
    background-color: transparent !important;
    color: var(--bs-dark-text-emphasis) !important;
    border: 1px solid;
    border-color: var(--bs-dark-border-color);
}

.hourly-forecast .list-group-item:first-child {
    padding-top: 10px !important;
}

.hourly-forecast .list-group-item:last-child {
    padding-bottom: 10px !important;
}

.btn.btn-light.btn-lg {
    border: 3px solid rgba(0, 0, 0, 0.4) !important;
}

.forecast-chart text {
    font-family: var(--bs-font-sans-serif);
}

.wind-forecast-chart text.data-point-label:first-child {
    display: none;
}
.wind-forecast-chart text.data-point-label:last-child {
    display: none;
}

#map {
    height: 100svh !important;
    width: 100vw;
}
